body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;

}
.top-banner{
    background-image: url(images/top-banner.png.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon ,tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}
.dream-area{
    background-image: url(images/dream-bg\ .png.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experienc-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 15px;
    height: 80%;
    background-color: white;
    
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#become{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;

}
footer{
    text-align: center;
    font-size: 15px;
    color: red;
}
